body{ 

}

.park {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 4px purple;
    text-align: center;
    font-family: Optima;
    padding: 10px;
    margin: 10px;
    background-color: peachpuff;
    column-width: 10px;

}

#header{
    text-align: center;
    font-family: Optima;
    color: peru;
    font-weight: bold;
    font-size: 30px;
}

#regionDiv {
    border: solid 4px rebeccapurple;
    text-align: center;
    font-family: Optima;
    color: rebeccapurple;
    background-color: peachpuff;
    font-size: 20px;
    font-weight: bold;
}